<main class="main">
  <div class="title">
      <h1>{{ title }}</h1>
      <p>Screen Width is: {{getScreenWidth}} Height is: {{getScreenHeight}}</p>
      <p>Zoom factor is: <input type="number" [(ngModel)]="zoomFactor" ></p>
      <ul>

        @for (cell of cells; track $index; let idx = $index) {
          <li>
            <app-cell-entry [index]="idx" [(point)]="cells[idx]"></app-cell-entry>
           </li>
        }
      </ul>
      <button class="boardButton" (click)="addCell()">Add Cell</button>
      <button class="boardButton" (click)="createBoard()">Create Board</button>
      <button class="boardButton" (click)="drawBoard()">Draw</button>
      <button class="boardButton" (click)="nextStep()">Advance 1 step</button>
  </div>
  <div class ="boardregion">
    <canvas class="board" id="board" [width]="boardWidth" [height]="boardHeight"></canvas>
  </div>
<main>

